/* Swipes */
a.swipe {
  position: fixed;
  top: 0;
  bottom: 0;
  margin-top: -25px;
  font-size: 20px;
  width: 35px;
  z-index: 5;
  color: #fff;
  padding: 0;
  opacity: 0;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  a.swipe i {
    position: absolute;
    top: 50%;
    background: #999;
    padding: 20px 10px;
    display: block; }
  a.swipe:hover, a.swipe:focus, a.swipe.active {
    opacity: 1;
    text-decoration: none; }
  a.swipe.prev {
    left: 0; }
  a.swipe.next {
    right: 0; }

/* TOC for Module Openers (and book root?) */
.toc .ignore {
  color: #f66; }

/* Terms/asides */
.term {
  font-weight: bold; }

.term b {
  /* remove style when we're sure all of this selector are removed! */
  background-color: #f33;
  padding: 0 3px; }

.aside {
  /* Never seen after processing: consider removal */
  margin-top: .5em; }

/* Top bar */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 40px;
  background: #fff;
  width: 100%;
  z-index: 2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  /* Breadcrumbs */ }
  .topbar .left-slot {
    float: left; }
  .topbar .right-slot {
    float: right;
    padding-right: 1em;
    padding-left: 3em; }
  @media (max-width: 768px) {
    .topbar .breadcrumbs {
      display: none; } }
  .topbar .breadcrumbDrop {
    display: none; }
    @media (max-width: 768px) {
      .topbar .breadcrumbDrop {
        display: block; } }
  .topbar .crumbs {
    margin: 0;
    padding: 0; }
    .topbar .crumbs li {
      list-style-type: none;
      display: inline;
      padding: 0;
      margin: 0; }
      .topbar .crumbs li a {
        white-space: nowrap; }
      .topbar .crumbs li .divider {
        color: #333;
        margin: 0 5px 0 2px; }
  .topbar .steps {
    text-align: center;
    margin: 0px;
    padding: 0px;
    float: right;
    margin-right: 10px;
    margin-top: 2px; }
    .topbar .steps .step {
      width: 17px;
      height: 17px;
      background-color: #dedede;
      float: left;
      margin-right: 5px;
      font-size: 11px;
      color: #888;
      -moz-border-radius: 100px;
      -webkit-border-radius: 100px;
      border-radius: 100px; }
      .topbar .steps .step.active {
        background-color: #40a6f9;
        color: #fff; }
  .topbar .controls {
    float: right; }
    .topbar .controls .control {
      float: left;
      height: 18px;
      width: 25px;
      border: 1px solid #ddd;
      margin: 0 5px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      cursor: pointer;
      text-align: center; }
      .topbar .controls .control > a {
        color: #888;
        padding: 1px 3px; }
      .topbar .controls .control:hover, .topbar .controls .control:focus, .topbar .controls .control.open {
        background: #efefef; }
        .topbar .controls .control:hover a, .topbar .controls .control:focus a, .topbar .controls .control.open a {
          text-decoration: none; }
    .topbar .controls .divider {
      float: left;
      width: 1px;
      background: #ddd;
      height: 17px;
      padding: 1px 0;
      margin: 0 5px; }
    .topbar .controls i {
      font-size: 13px; }

/* Expander */
.expando {
  position: fixed;
  top: 5px;
  left: 7px;
  width: 40px;
  height: 40px;
  XXXbackground-color: red;
  z-index: 1039;
  background: url("../img/expander-closed.png") no-repeat;
  opacity: 0.5;
  filter: alpha(opacity=50); }

.mousey .expando:hover {
  background-image: url("../img/expander-closed-hover.png");
  opacity: 0.8;
  filter: alpha(opacity=80); }

.expando.opened {
  background: url("../img/expander-opened.png") no-repeat; }

.mousey .expando.opened:hover {
  background-image: url("../img/expander-opened-hover.png");
  opacity: 0.8;
  filter: alpha(opacity=80); }

.hidden,
.hide {
  display: none;
  visibility: invisible; }

/* Misc debugging shims */
.leftCol {
  XXXbackground-color: #9ff; }

.rightCol {
  XXXbackground-color: #f9f; }

.flippy {
  position: fixed;
  left: 5px;
  bottom: 5px;
  background-color: yellow;
  border: 1px solid red;
  padding: 5px 3px;
  z-index: 5000; }

.flippy span {
  color: black;
  padding: 2px 5px;
  background-color: white;
  border: 1px solid black; }

.flippy span.active {
  background-color: #ccffcc; }

/* Interactive indicators */
.inter {
  position: relative; }

.inter-indy {
  position: absolute;
  left: 0;
  top: 2px;
  width: 23px;
  height: 27px; }

/* customization selections */
html > body.serif {
  font-family: serif; }
html > body.mono {
  font-family: monospace; }
html > body.black {
  background: #000;
  color: #fff !important; }
html > body.yellow {
  background: #fdef8e;
  color: #000 !important; }

/*resizable columns*/
.container-fluid .span6 {
  width: 47.936%;
  margin-left: 4.12766%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .container-fluid .span6:first-child {
    margin-left: 0; }
  @media (max-width: 768px) {
    .container-fluid .span6 {
      display: block;
      width: 100%;
      margin: 0; } }
.container-fluid .columnResize {
  position: absolute;
  width: 1px;
  background: #ccc;
  left: 50%;
  opacity: 0;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  @media (max-width: 768px) {
    .container-fluid .columnResize {
      display: none; } }
  .container-fluid .columnResize .resize-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 27px;
    left: -15px;
    background: rgba(0, 0, 0, 0.5);
    padding: 3px;
    color: #fff;
    font-size: 13px; }
  .container-fluid .columnResize:hover, .container-fluid .columnResize:focus, .container-fluid .columnResize.ui-draggable-dragging {
    opacity: 1; }

/* popover customizations for configurations */
.dropdown-menu {
  margin: 16px -20px 0 0;
  border: none;
  background: rgba(0, 0, 0, 0.9); }
  .dropdown-menu:before {
    content: "";
    width: 0;
    height: 0;
    border: 12px solid #000;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    right: 19px;
    top: -24px; }
  .dropdown-menu.crumbs {
    padding: 5px 0;
    margin: 20px -9px 0; }
    .dropdown-menu.crumbs:before {
      left: 10px; }
    .dropdown-menu.crumbs li a {
      color: #fff; }
  .dropdown-menu.displayConfig {
    width: 400px;
    max-width: inherit;
    color: #fff !important;
    text-align: left;
    padding-top: 0; }
    .dropdown-menu.displayConfig .arrow {
      left: 100%;
      margin-left: -37px; }
    .dropdown-menu.displayConfig .slider {
      margin-left: 42px;
      display: inline-block;
      width: 200px;
      position: relative;
      top: 1px;
      height: 8px;
      border: 0;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px; }
      .dropdown-menu.displayConfig .slider:before {
        content: "Aa";
        font-size: 9px;
        left: -16px;
        position: absolute;
        top: -5px;
        color: #fff; }
      .dropdown-menu.displayConfig .slider:after {
        content: "Aa";
        font-size: 15px;
        position: absolute;
        right: -25px;
        top: -7px;
        color: #fff; }
      .dropdown-menu.displayConfig .slider .ui-slider-handle {
        width: 15px;
        height: 15px;
        background: #fff;
        border: 1px solid #000;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        border-radius: 100px; }
    .dropdown-menu.displayConfig .form-inline label {
      width: 90px;
      text-align: right;
      margin: 10px 0; }
    .dropdown-menu.displayConfig .form-inline .btn-group.block {
      margin-left: 20px;
      margin-right: 50px; }
      .dropdown-menu.displayConfig .form-inline .btn-group.block .btn {
        border: 1px solid #fff;
        background: #000;
        color: #fff;
        margin: 0 5px;
        padding: 1px 9px;
        text-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-transition: background 0.3s;
        -webkit-transition: background 0.3s;
        transition: background 0.3s; }
        .dropdown-menu.displayConfig .form-inline .btn-group.block .btn:hover, .dropdown-menu.displayConfig .form-inline .btn-group.block .btn:focus {
          background: #0782e5; }
        .dropdown-menu.displayConfig .form-inline .btn-group.block .btn.sans-serif {
          font-family: Helvetica; }
        .dropdown-menu.displayConfig .form-inline .btn-group.block .btn.serif {
          font-family: serif; }
        .dropdown-menu.displayConfig .form-inline .btn-group.block .btn.mono {
          font-family: monospace; }
        .dropdown-menu.displayConfig .form-inline .btn-group.block .btn.white {
          background: #fff;
          color: #333; }
          .dropdown-menu.displayConfig .form-inline .btn-group.block .btn.white:hover, .dropdown-menu.displayConfig .form-inline .btn-group.block .btn.white:focus {
            background: #e6e6e6; }
        .dropdown-menu.displayConfig .form-inline .btn-group.block .btn.yellow {
          background: #fdef8e;
          color: #333; }
          .dropdown-menu.displayConfig .form-inline .btn-group.block .btn.yellow:hover, .dropdown-menu.displayConfig .form-inline .btn-group.block .btn.yellow:focus {
            background: #fce443; }
        .dropdown-menu.displayConfig .form-inline .btn-group.block .btn.active {
          background: #40a6f9;
          text-shadow: none;
          color: #fff;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          box-shadow: none; }
  .dropdown-menu.tableOfContents {
    max-height: 500px;
    text-align: left;
    width: 400px; }
    .dropdown-menu.tableOfContents .scroll {
      overflow: auto;
      height: 500px; }
    .dropdown-menu.tableOfContents ul {
      margin: 0; }
      .dropdown-menu.tableOfContents ul ul li a {
        padding-left: 30px; }
      .dropdown-menu.tableOfContents ul ul ul li a {
        padding-left: 40px; }
    .dropdown-menu.tableOfContents li {
      padding: 0; }
      .dropdown-menu.tableOfContents li a {
        padding: 3px 20px;
        display: block;
        color: #fff; }
        .dropdown-menu.tableOfContents li a .title {
          color: #fff; }
    .dropdown-menu.tableOfContents li:hover a,
    .dropdown-menu.tableOfContents li:focus a,
    .dropdown-menu.tableOfContents li.active a {
      background: #40a6f9;
      color: #fff;
      text-decoration: none; }
      .dropdown-menu.tableOfContents li:hover a .title,
      .dropdown-menu.tableOfContents li:focus a .title,
      .dropdown-menu.tableOfContents li.active a .title {
        color: #fff;
        text-decoration: none; }

html > body.overflow {
  margin-bottom: 70px; }
  html > body.overflow:after {
    content: "";
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: transparent;
    /* Old browsers */
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.15)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.15) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.15) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='rgba(0, 0, 0, 0.15)',GradientType=0 );
    /* IE6-9 */ }
  html > body.overflow:before {
    content: "\f0ab";
    font-family: "FontAwesome";
    position: fixed;
    bottom: 0;
    left: 40px;
    width: 20px;
    background: #ccc;
    text-align: center; }
