
/*
* Axes, markers, ticks, and other graph styling
* required for eCourses/Neff.
* 1/15/2013 LBondaryk
* adding math styling
*/


/* highlights                                      
===================================================*/

.lit {
	fill: none;
	stroke-width: 4px;
	stroke: #f49524;
}


/* Math and questions
================================================== */
.math {
	font: bold italic 1em Times, serif; 
}


.assessment {
	border: solid 1px #5bafe4;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: .4em;
	margin: .5em 0em;
	font: .9em HelveticaNeue-Light,HelveticaNeue,Helvetica, Arial, LucidaGrande, sans-serif;
}

.questionText {
	max-width: 40em;
	padding: .2em .8em ;
}


table.questionTable td {
	vertical-align:top;
}

.hanging {
	padding-left: 22px ;
    text-indent: -22px ;
}

.questionSubmit {
	color: white;
	text-decoration: none;
	background-color: #EE8C1E;
	border: 1px solid #C37030;
	text-shadow: 1px 1px 1px #A54314;
	font-weight: bold;
	margin-right: 1em;
	padding: 0.2em 1.0em;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: default;
}

.feedback {
	font-weight: 600;
	 border: solid 1px #aaaaaa;
	-moz-border-radius: 2px;
	border-radius: 2px;
	display: block;
	margin:.2em;
	padding:0.3em;
	
 
}
}

.correct {
	color: #C9A0DC;
}

.wrong {
	color: #8C1717;
}

/* title and captions and feedback messages
================================================== */


.graphTitle {
	font: bold 1em/1.5em HelveticaNeue-Light,Helvetica Neue,Helvetica, Arial, Lucida Grande, sans-serif;
	color: #000; 
	background: #ddd;
	padding: .2em .8em ;
}

.msgbox {
	background-color:#d0eaea;
	border: solid #008496;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 4em;
	max-width: 30em;
	padding: .5em;
}


#message_0 {
	font: .8em/1.5em HelveticaNeue-Light,Helvetica Neue,Helvetica, Arial, Lucida Grande, sans-serif;
	color: #003; 
}

.caption {
	font: bold 0.6em/0.9em HelveticaNeue-Light,Helvetica Neue,Helvetica, Arial, Lucida Grande, sans-serif;
	color: #000; 
	padding: .0em .2em ;
}
/* Axes
================================================== */
 
.axis path,
.axis line {
    fill: none;
    stroke: #aaaaaa;
}

.axis text {
	font: .9em/1.5em HelveticaNeue-Light,Helvetica Neue,Helvetica, Arial, Lucida Grande, sans-serif;
	color: #008496; 
	
}
.markers {
	stroke: #ddd;
}

.descLabel {
	border: solid 1px #5bafe4;
	-moz-border-radius: 2px;
	border-radius: 2px;
	max-width: 30em;
	padding: .5em  .3em;
	font: .8em HelveticaNeue-Light, HelveticaNeue, Helvetica, Arial, Lucida, sans-serif;
	text-align:center;
}
.markerLabel {
	border: solid 1px #5bafe4;
	-moz-border-radius: 2px;
	border-radius: 2px;
	max-width: 10em;
	padding: .2em  .3em;
	font: .7em HelveticaNeue-Light, HelveticaNeue, Helvetica, Arial, Lucida, sans-serif;
	text-align:right;
}

.areaMarker{
	fill-opacity: .125;
	stroke: #999;
	stroke-width: 1;
}
.axisLabel {
	font: 1.0em/1.2em HelveticaNeue-Light,HelveticaNeue,Helvetica, Arial, Lucida Grande, sans-serif;
	color: #000; 
	word-wrap:break-word;
	text-align:center;
}

.callOut {
	font: 1em/1.1em HelveticaNeue-Light,HelveticaNeue,Helvetica, Arial, Lucida Grande, sans-serif;
	position:static;
	text-align: left;
	background-color: transparent;
	padding: .5em  .3em;
	margin: .2em;
}

.legendLabel {
	font: 0.85em/1.1em HelveticaNeue-Light,HelveticaNeue,Helvetica, Arial, Lucida Grande, sans-serif;
	color: #000; 
	text-align: left;
	padding: 2px;
}

.legendBox {
	fill: #fff;
	stroke: #3A87AD;
	stroke-width: 1px;
}

/* bars, lines and points
================================================== */
  
.bar {
opacity: 0.8;
}

.trace {
	fill: none;
	stroke-width: 4px;
}

.fill0{
	fill: #2C6CB8;
}
.fill1 {
	fill: #66A62E;
}
.fill2{
	fill: #E8B12E;
}

.fill3 {
	fill: #6B4FB8;
}

.fill4 {
	fill: #D44C17;
}

.fill5 {
	fill: #E39014;
}

.fill6{
	fill: #666666;
	}
	
.stroke0{
	stroke: #2C6CB8;
}
.stroke1 {
	stroke: #66A62E;
}
.stroke2{
	stroke: #E8B12E;
}

.stroke3 {
	stroke: #6B4FB8;
}

.stroke4 {
	stroke: #D44C17;
}

.stroke5 {
	stroke: #E39014;
}

.stroke6{
	stroke: #666666;
	}

/* zoom and pan widget 
================================================== */
g.context g.axis path{ stroke-opacity: 0;}
g.context g.axis line{ stroke-opacity: .1;}
 
g.context g.brush rect.background{ fill: rgba(0,0,0,.1);}
.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}
 
g.context rect.background{
    fill: rgb(200,200,255);
    visibility: visible !important;
}
/* tables of data and readouts
================================================== */
table.data{
border-collapse:collapse;
}

table.data td {
	vertical-align:top;
	padding-top: 5px;
	padding-right: 15px;
	padding-left: 5px;
	font-size: 80%;
}
thead.data tr td{
	border-bottom: 1px solid #000000;	
	padding-bottom: 2px;
	font-weight: bold;
}
td.rightAlign {
	padding: 5px;
	text-align: right;
	min-width: 5em;
	}
.dataLabel {
	border: solid 1px #5BAFE4;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: .2em;
	margin: .1em;
	font: 1.2em Helvetica, sans;
	text-align:right;
}