/*
* Axes, markers, ticks, and other graph styling
* required for San/Van.
*/

/* highlights                                      
===================================================*/


/* Images
================================================== */
svg g.widgetImage>rect.background
{
	fill:			#efefef;
	stroke-width:	0;
}
svg g.widgetImage>rect.highlight
{
	fill: none;
	fill-opacity:	0.0;
	stroke-opacity:	0.0;	
}
svg g.widgetImage.lit>rect.highlight
{
	fill-opacity:	0.0;
	stroke:			blue;
	stroke-opacity:	0.8;	
}

svg g.widgetCaptionedImage div.widgetImageCaption
{
	text-align:		center;
}

svg g.widgetCarousel>rect.background
{
	fill:			#4f00ef;
	fill-opacity:	0.0;
}

svg g.widgetCarousel>g.widgetItem>rect.selection
{
	fill:			#4f00ef;
	fill-opacity:	0.0;
	stroke:			blue;
	stroke-opacity:	0.0;	
}

svg g.widgetCarousel>g.widgetItem.selected>rect.selection
{
	fill-opacity:	0.1;
	stroke-opacity:	0.8;	
}

svg g.widgetImageViewer>rect.background
{
	fill-opacity:	0.0;
	stroke-width:	0;
}

/* Markers
================================================== */
svg g.bricMarkers line
{
  fill:     none;
  stroke:   #ccc;
  stroke-width: 2;
}

svg g.bricMarkers .lit line
{
  stroke:   #1d95ae;
  stroke-width: 4;
}

svg g.bricMarkers polygon,
svg g.bricMarkers rect
{
  fill:    #aaa;
}

svg g.bricMarkers .lit rect,
svg g.bricMarkers .lit polygon
{
  fill:    #e3effe;
}

svg g.bricMarkers .markerLabel
{
 
  max-width: 12em;
  padding: .2em  .3em;
  font: .9em HelveticaNeue-Light, HelveticaNeue, Helvetica, Arial, Lucida, sans-serif;
  text-align:right;
}

svg g.widgetLabel.lit .markerLabel
{
  color: #1d456e;
  font-weight: 600;
  background-color: #e3effe;
}

/* Labels
================================================== */
svg g.widgetLabel>circle
{
	fill:			black;
	stroke:			white;
	stroke-width:	2;
}
svg g.widgetLabel.lit>circle
{
	fill:			#e3effe;
	stroke:			#1d95ae;
}
svg g.widgetLabel>text
{
	fill:			white;
	stroke-width:	1;
}
svg g.widgetLabel.lit>text
{
	fill:			#1d456e;
}

svg g.widgetLabel.lit .descLabel
{
	color: #1d456e;
	font-weight: 600;
	background-color: #e3effe;
}

/* Radio groups
================================================== */
div.widgetRadioGroup tr>td
{
	padding: 0;
}
div.widgetRadioGroup table.questionTable tr>td:first-child
{
	width: 			5em;
	text-align: 	right;
}
div.widgetRadioGroup table.questionTable tr>td:nth-of-type(2)
{
	padding-left:	8px;
}

/* tables of callouts
================================================== */
table.widgetCallout {
  border-collapse: collapse;
  width: 100%; }

table.widgetCallout td {
  vertical-align: top;
  padding-top: 5px;
  padding-right: 15px;
  padding-left: 5px; }

table.widgetCallout thead>tr td {
  border-bottom: 1px solid #000000;
  padding-bottom: 2px;
  font-weight: bold; }
  

table tr.widgetCallout.lit 
{
	color:#1d456e;
	border: 2px solid #bce8f1;
	background-color: #E3EFFE;

}

/* used in callout automatic step numbering */

.stepBadge {
     /* background: radial-gradient( 5px -9px, circle, white 8%, black 26px ); */
    background-color: black;
    border: 2px solid white;
    border-radius: 14px; /* one half of ( (border * 2) + height + padding ) */
    box-shadow: 1px 1px 1px black;
  /*Got this from stack overflow, it's pretty close */
    color: white;
    font: 0.9em/1.1em Helvetica, Verdana, Tahoma;
    height: 16px; 
    min-width: 16px;
    padding: 4px 3px 3px 3px;
  	margin: 4px 11px 3px 0px;
    text-align: center;
	display: block;
	float: left;
}


 
/* sketches
================================================== */

svg g.widgetSketch .shape {
	
	stroke: #666;
	stroke-width: 2;
}

svg g.widgetSketch .shape.hot {
	opacity: 0.0;
}

svg g.widgetSketch .shape.lit {
	fill: #e3effe;
	stroke: #1d95ae;
	stroke-width:3;
	opacity: 0.5;
}

svg g.widgetSketch .shape>text {
	fill: #333;
	stroke: none;
	font: bold italic 1.3em Times, serif;
  
}

/* Math and questions
================================================== */
.math {
  font: bold italic 1em Times, serif;
  border: 0;
  font-size: 155%;
  padding: 0;
}
.math sup {
	font-size: 80%;
}

.assessment {
  margin: 30px 0em; }
  .assessment#widget0 {
    margin-top: 0; }
  .assessment .graphTitle {
    padding-left: 0; }
  .assessment .quizInput {
    margin-bottom: 0;
    width: 100px; }
  .assessment .alert {
    margin-top: 10px; }
  .assessment .questionText {
    max-width: 40em;
    padding: 10px 0; }
  .assessment input[type=radio] {
    margin-top: 0;
    margin-right: 5px; }

table.questionTable td {
  vertical-align: top; }

.hanging {
  padding-left: 22px;
  text-indent: -22px; }

.questionSubmit {
  color: white;
  text-decoration: none;
  background-color: #EE8C1E;
  border: 1px solid #C37030;
  text-shadow: 1px 1px 1px #A54314;
  font-weight: bold;
  margin-right: 1em;
  padding: 0.2em 1.0em;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: default; }

.feedback {
  font-weight: 600;
  border: solid 1px #aaaaaa;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  margin: .2em;
  padding: 0.3em; }

.correct {
  color: #C9A0DC; }

.wrong {
  color: #8C1717; }
  
 


/* title and captions and feedback messages
================================================== */
.graphTitle {
  font-size: 17px;
  border-bottom: 1px solid #ccc;
  padding-left: 20px;
  padding-bottom: 5px; }

.msgbox {
  background-color: #d0eaea;
  border: solid #008496;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 4em;
  max-width: 30em;
  padding: .5em; }

#message_0 {
  font: .8em/1.5em;
  color: #003; }

.caption {
  font: bold 0.6em/0.9em;
  color: #000;
  padding: 0em 0.2em; }




.sliderLabel {
  font-weight: bold;
  	margin-left: 3px;  
    border: none;
    margin-right: 10px; 
	max-width: 30px;}
	
/* Axes
================================================== */
.axis path,
.axis line {
  fill: none;
  stroke: #aaaaaa; }

.axis text {
  font: bold .7em/1.5em;
  color: #008496; }


.descLabel {
  border: solid 1px #5bafe4;
  -moz-border-radius: 2px;
  border-radius: 2px;
  max-width: 30em;
  padding: .5em  .3em;
  font-size: .8em;
  text-align:center;
}

.areaMarker {
  fill: #2C6CB8;
  opacity: .3; }

.axisLabel {
  font: .9em/1.1em;
  color: #000;
  word-wrap: break-word;
  text-align: center; 
}

.callOut {
  font: 0.8em Helvetica, sans;
  position:static;
  text-align: left;
  color: #1d456e;
  border: 2px solid #bce8f1;
  background-color: #E3EFFE;
  padding: .5em  .3em;
  margin: .2em;
}

.graphLabel {
  font: .85em/1.1em;
  word-wrap: break-word;
  position: static;
  text-align: left;
  background-color: transparent;
  padding: .2em;
  margin: .2em; }



/* LineGraph and legends highlights and styles
================================================== */

svg g.widgetLineGraph .traces,
svg g.widgetLegend .traces 
{
  opacity:		0.8;
  fill: none;
  stroke-width: 3; 
}

svg g.widgetLineGraph .traces.lit,
svg g.widgetLineGraph .traces.selected,    
svg g.widgetLegend .lit .traces
{
	opacity:		1;
	stroke-width:	5;
}

svg g.widgetLegend .legendLabel {
  font: 0.9em/1.1em HelveticaNeue-Light,HelveticaNeue,Helvetica, Arial, Lucida Grande, sans-serif;
  color: #000; 
  text-align: left;
  padding: 2px;
}

svg g.widgetLegend .lit>text
{
	font-weight: bold;
}

svg g.widgetLegend .legendBox {
  fill: #fff;
  stroke: #3A87AD;
  stroke-width: 1px;
}

svg g .stroke0 {
  stroke: #2C6CB8; }

svg g .stroke1 {
  stroke: #66A62E; }

svg g .stroke2 {
  stroke: #E8B12E; }

svg g .stroke3 {
  stroke: #6B4FB8; }

svg g .stroke4 {
  stroke: #D44C17; }

svg g .stroke5 {
  stroke: #E39014; }

svg g .stroke6 {
  stroke: #666666; }

/* bars, lines and points
================================================== */
svg g.widgetBarChart rect,
svg g.widgetLegend rect {
  opacity: 0.8; }

svg g.widgetBarChart rect .lit {
  opacity: 1;
  }


svg g .fill0 {
  fill: #2C6CB8; }

svg g .fill1 {
  fill: #66A62E; }

svg g .fill2 {
  fill: #E8B12E; }

svg g .fill3 {
  fill: #6B4FB8; }

svg g .fill4 {
  fill: #D44C17; }

svg g .fill5 {
  fill: #E39014; }

svg g .fill6 {
  fill: #666666; }

svg g .fillWhite {
  fill: #fff;
}

svg g .fillBlack {
  fill: #000;
}

svg g .fillNone {
  fill: none;
}

/* tables of data and readouts
================================================== */
table.data {
  border-collapse: collapse;
  width: 100%; }

table.data td {
  vertical-align: top;
  padding-top: 5px;
  padding-right: 15px;
  padding-left: 5px; }

thead.data tr td {
  border-bottom: 1px solid #000000;
  padding-bottom: 2px;
  font-weight: bold; }

td.rightAlign {
  padding: 5px;
  text-align: right;
  min-width: 5em; }

tr:first-child td {
  padding-bottom: 10px; }
tr.liteable td {
  padding-bottom: 0; }

.dataLabel {
  font-weight: bold;
  margin-left: 3px; 
  }
  
  .dataLabel.green {
    background: green;
    color: #fff;
    border: 1px solid #004d00;
    padding: 5px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
  .dataLabel.short {
    margin-right: 10px; }

.dataInput {
  border: solid 1px #5BAFE4;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: .2em;
  margin: .1em;
  font-size: 0.8em;
  text-align:right;
}
