html > body, html {
  XXXmargin: 36px;
  color: #333;
  background-color: #fff; }

html > body {
  /* pull this in a little bit: with the ragged-right text, it's optically wider */
  margin-left: 0;
  margin-right: 0; }

.blah {
  color: #f49524; }

.blah:hover {
  color: #fefece; }

.titler {
  font-family: Helvetica, sans;
  font-size: 15pt;
  font-weight: bold;
  border-bottom: #AAAAAA 1px solid;
  margin-bottom: 0.8em;
  padding-bottom: 0.7em; }

.rightCol {
  margin-top: 87px; }

.container-fluid .texty, .container-fluid .texty p {
  font-family: Georgia,serif;
  font-size: 11pt;
  XXXfont-weight: bold;
  text-align: start; }

.titler .number {
  color: #1a7ebf; }

.derpcap {
  font-family: Helvetica, sans;
  float: left;
  color: #f49524;
  font-size: 50pt;
  line-height: 40pt; }

.chapter-num {
  font-family: Helvetica, sans;
  font-size: 84pt;
  line-height: 86pt; }

.chapter-title {
  font-family: Helvetica, sans;
  font-size: 30pt;
  line-height: 32pt;
  margin-bottom: .5em; }

.figure-placeholder {
  background-color: #2d2c2d; }

footer {
  border-top: 1px solid #AAAAAA;
  margin-top: 1.3em;
  padding-top: 0.6em;
  text-align: center;
  color: #999; }

.container-fluid {
  margin-top: 42px;
  padding: 0 40px; }
  .container-fluid h2 {
    font-size: 210%;
    font-weight: normal; }
  .container-fluid p {
    line-height: 140%; }
    .container-fluid p:last-child:after {
      content: "\f06c";
      display: block;
      text-align: center;
      font-family: "FontAwesome";
      margin-top: 20px; }
